{% extends "base.html" %}
<!-- profile page -->
{% block title %}Update Profile Page{% endblock title %}
<!-- block content %}-->
{% block content %}

<div class="form-content">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-md-5">
        <div class="form-group">
          <!-- <a href="#">Change Password</a> -->
          <hr />
          <label class="small mb-1">Change Avatar:</label>
          {{ profile_form.avatar }}
        </div>
        <label class="small mb-1">Bio:</label> {{ profile_form.bio }}
      </div>
    </div>
    <br /><br />
    <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
    <button type="reset" class="btn btn-dark btn-lg">Reset</button>
  </form>
</div>
{% endblock %}
