{% load bootstrap4 %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">BigUp</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="bigapi/">API</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'projectform' %}">Post project</a>
      </li>
    </ul>
    <form class="form-inline  mr-auto my-lg-0" role="search" action="{% url 'searchproject' %}">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search projects"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
    <ul class="navbar-nav  my-2 my-lg-0">
      {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'profile' %}">{{ user.username }}</a>
          <a class="dropdown-item" href="{% url 'update_profile' %}">Update</a>
          
      </li>

      {% else %}
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'login' %}"
          > Login </a
        >
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
      </li>

      {% endif %}
    </ul>
  </div>
</nav>
