<!-- registration/login.html -->
{% extends "registration/base.html" %} {% block title %}Login{% endblock %}
<!-- added block content -->
{% block content %}
<!-- added crispy forms tag -->
{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="container">
      <!-- login form -->
      <div style="margin: 50px" class="p-3 border border-secondary">
        <h1 class="text-center m-3">BigUp</h1>
        <form action="" method="POST">
          {% csrf_token %} 
         
          {{ login_form|crispy }}
          <div id="login-btn">
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              Log in
            </button>
          </div>
          <small><p class="text-center m-3">forgot password?</p></small>
        </form>
      </div>
      <!-- account signup form link -->
      <div style="margin: 50px" class="p-3 border border-secondary text-center">
        <p class="m-1">
          Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
