{% extends "registration/base.html" %}
<!-- added block content -->
{% block content %}
<!-- added crispy forms -->
{% load crispy_forms_tags %}

<!-- registration form -->
<div class="container p-5">
  <div class="m-auto p-3 w-50 border border-secondary">
    <h1 class="text-center m-3">BigUp</h1>
    <p class="text-center">Sign up to share your projects with us</p>
    <button class="btn btn-primary btn-lg btn-block">
      Log in with Facebook
    </button>
    <hr />
    <form action="" method="POST">
      {% csrf_token %} {{ form|crispy }}
      <p class="text-center">
        By signing up you agree to our Terms,Data,Policy and Cookies Policy
      </p>

      <input
        type="submit"
        value="Register"
        class="btn btn-outline-primary btn-sm"
      />
    </form>

    <div>
      <p class="text-center m-3">
        Have an account already?,<a href="{% url 'login' %}">Log in</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
